micronaut:
  application:
    name: keymanagerGrpc

grpc:
  server:
    port: ${SERVER_PORT:50051}
    keep-alive-time: 1h
    max-inbound-message-sise: 1024

datasources:
  default:
    url: ${DB_URL:`jdbc:mysql://localhost:3306/keymanager_grpc?createDatabaseIfNotExist=true`}
    driverClassName: com.mysql.cj.jdbc.Driver
    username: ${DB_USER:root}
    password: ${DB_PASSWORD:diasz}
    schema-generate: CREATE_DROP
    dialect: MYSQL

jpa:
  default:
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        hbm2ddl.auto: update

itau:
  contas:
    url: 'http://localhost:9091'